Guide.Api/bin/Debug/net8.0/Guide.Api.dll
Guide.Api/bin/Debug/net8.0/Guide.Api.exe
Guide.Api/bin/Debug/net8.0/Guide.Api.pdb
Guide.Api/bin/Debug/net8.0/Guide.Data.dll
Guide.Api/bin/Debug/net8.0/Guide.Data.exe
Guide.Api/bin/Debug/net8.0/Guide.Data.pdb
Guide.Api/obj/Debug/net8.0/apphost.exe
Guide.Api/obj/Debug/net8.0/Guide.Api.AssemblyInfo.cs
Guide.Api/obj/Debug/net8.0/Guide.Api.AssemblyInfoInputs.cache
Guide.Api/obj/Debug/net8.0/Guide.Api.csproj.AssemblyReference.cache
Guide.Api/obj/Debug/net8.0/Guide.Api.dll
Guide.Api/obj/Debug/net8.0/Guide.Api.pdb
Guide.Api/obj/Debug/net8.0/Guide.Api.sourcelink.json
Guide.Api/obj/Debug/net8.0/ref/Guide.Api.dll
Guide.Api/obj/Debug/net8.0/refint/Guide.Api.dll
Guide.Data/bin/Debug/net8.0/Guide.Data.dll
Guide.Data/bin/Debug/net8.0/Guide.Data.exe
Guide.Data/bin/Debug/net8.0/Guide.Data.pdb
Guide.Data/obj/Guide.Data.EntityFrameworkCore.targets
Guide.Data/obj/Debug/net8.0/apphost.exe
Guide.Data/obj/Debug/net8.0/Guide.Data.AssemblyInfo.cs
Guide.Data/obj/Debug/net8.0/Guide.Data.AssemblyInfoInputs.cache
Guide.Data/obj/Debug/net8.0/Guide.Data.dll
Guide.Data/obj/Debug/net8.0/Guide.Data.pdb
Guide.Data/obj/Debug/net8.0/Guide.Data.sourcelink.json
Guide.Data/obj/Debug/net8.0/ref/Guide.Data.dll
Guide.Data/obj/Debug/net8.0/refint/Guide.Data.dll
Guide.Ui/bin/Debug/net8.0/Guide.Api.dll
Guide.Ui/bin/Debug/net8.0/Guide.Api.exe
Guide.Ui/bin/Debug/net8.0/Guide.Api.pdb
Guide.Ui/bin/Debug/net8.0/Guide.Data.dll
Guide.Ui/bin/Debug/net8.0/Guide.Data.exe
Guide.Ui/bin/Debug/net8.0/Guide.Data.pdb
Guide.Ui/bin/Debug/net8.0/Guide.Ui.dll
Guide.Ui/bin/Debug/net8.0/Guide.Ui.exe
Guide.Ui/bin/Debug/net8.0/Guide.Ui.pdb
Guide.Ui/obj/Debug/net8.0/apphost.exe
Guide.Ui/obj/Debug/net8.0/Guide.Ui.AssemblyInfo.cs
Guide.Ui/obj/Debug/net8.0/Guide.Ui.AssemblyInfoInputs.cache
Guide.Ui/obj/Debug/net8.0/Guide.Ui.csproj.AssemblyReference.cache
Guide.Ui/obj/Debug/net8.0/Guide.Ui.dll
Guide.Ui/obj/Debug/net8.0/Guide.Ui.pdb
Guide.Ui/obj/Debug/net8.0/Guide.Ui.sourcelink.json
Guide.Ui/obj/Debug/net8.0/ref/Guide.Ui.dll
Guide.Ui/obj/Debug/net8.0/refint/Guide.Ui.dll
