@using Guide.Ui.Components.Services
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationService AuthService
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <div class="d-flex align-items-center">
                            <button class="btn btn-link ms-2" @onclick="Logout">Выйти</button>
                            <a href="profile"
                               title="Перейти в профиль"
                               class="ms-2 profile-icon-link">
                                <img src="user.png"
                                     alt="Профиль пользователя"
                                     class="img-fluid profile-icon"/>
                            </a>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="d-flex align-items-center">
                            <a href="Login">Войти</a>
                            <a href="Register" class="ms-2">Регистрация</a>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
    .profile-icon {
        height: 30px;
        width: auto;
        vertical-align: middle;
    }
</style>
@code {

    private void Logout()
    {
        AuthService.Logout();
    }

}