@using Microsoft.AspNetCore.Components.Authorization


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Guide</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Главная
            </NavLink>
        </div>

        <CascadingAuthenticationState>
            <AuthorizeView Context="authState">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="map-example">
                            <span class="bi bi-briefcase-fill-nav-menu" aria-hidden="true"></span> Карта
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="create-tour">
                            <span class="bi bi-briefcase-fill-nav-menu" aria-hidden="true"></span> Создать маршрут
                        </NavLink>
                    </div>
                </Authorized>

                <NotAuthorized>

                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>

    </nav>
</div>